@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@700&family=Roboto:wght@300&display=swap');body{
    font-family: 'Roboto',cursive;
    background-color: #E36414;
}

#seleccionar_mascotas{
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center ;
   
}

.titulo {
    color: gold;
    font-size: 32px;
    background-color: aqua;
    font-family: 'Fredoka',cursive;

}
.subtitulo{

}
.tarjetas{
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokepon{
    color: black;
    width: 180px;
    height: 100px;
    background-color: #B6C4B6;
    padding: 100px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tarjeta-de-mokepon img{
    width: 80px;
    height: 80px;
}
#boton-mascota{
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background-color: aquamarine;
    border: 2px solid saddlebrown;
    color: blue;
    font-family: 'Roboto', cursive ;
    margin-top: 20px ;
}
input{
    display: none;
}